<%= form_with(model: task, local: true) do |form| %>
  <% if task.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(task.errors.count, "error") %> prohibited this task from being saved:</h2>

      <ul>
      <% task.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :title %>
    <%= form.text_field :title %>
  </div>

  <div class="field">
    <%= form.label :content %>
    <%= form.text_area :content %>
  </div>

  <div class="field">
    <%= form.label :expired_at %>
    <%= form.datetime_field :expired_at %>
  </div>

  <div class="field">
    <%= form.label :status %>
    <%= form.select :status, Task.statuses.keys.to_a, { include_blank: '選択してください'} %>
  </div>

  <div class="field">
    <%= form.label :priority %>
    <%= form.select :priority, Task.priorities.keys.to_a, { include_blank: '選択してください'} %>
  </div>
  <br>
  <%#<%= form.fields_for :tagging_ids do |tags| %>
    <%#<div class="field">
      <%= tags.collection_check_boxes(:tagging_ids, Tag.all, :id, :tag_name, include_hidden: false) %>
    <%#<div>
  <% end %>
  <%#<%= tags.collection_check_boxes(:tagging_ids, @current_tag, :id, :tag_name, include_hidden: false) %>
  
  <%#<%= form.fields_for :tagging_ids do |tags| %>
      <%#<%= tags.check_box :tagging_ids, {multiple: true, checked: @task.tagging_tags.find_by[id: tags.id], include_hidden: false}, tags[:id]%>
  <%#<% end %>
  <%= form.collection_check_boxes(:tag_ids, Tag.all, :id, :tag_name, include_hidden: false) %>
  <%#<% Tag.all.each do |tag|%>
    <%#<%= form.check_box :tag_ids, { multiple: true, checked: tag[:checked], disabled: tag[:disabled], include_hidden: false }, tag[:id] %>
    <%#<%= tag.tag_name%>
  <%#<% end %>
  <br>
  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
