<p id="notice"><%= notice %></p>

<h1><%= t('view.task') %></h1>

<p>search</p>
<%= form_tag(tasks_path, method: :get) do%>
  <div>タイトル検索</div>
  <%= text_field_tag :title_search %><br>
  <div>ステータス検索</div>
  <%#<%= text_field_tag :status_search %>
  <%= select_tag "status_search", options_for_select([[],["未了", 0],["対応中", 1],["完了", 2]]) %><br><br>
  <%= submit_tag 'search'%>
  <%= form_tag(tasks_path, method: "get") do %>

<% end %>
<% end %>


<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Content</th>
      <th>Expired_at</th>
      <th>Status</th>
      <th>Priority</th>
      <th colspan="5"></th>
    </tr>
  </thead>
  <tbody>
    <% @tasks.each do |task| %>
      <tr>
        <td><%= task.title %></td>
        <td><%= task.content %></td>
        <td><%= task.expired_at.strftime("%Y-%m-%d %H:%M:%S") %></td>
        <td><%= task.status %></td>
        <td><%= task.priority %></td>
        <td><%= link_to 'Show', task %></td>
        <td><%= link_to 'Edit', edit_task_path(task) %></td>
        <td><%= link_to 'Destroy', task, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Task', new_task_path %><br>
<%= link_to "終了期限(降順)でソートする", tasks_path(sort_expired_at: "true") %><br>
<%= link_to "優先順位が高い順でソートする", tasks_path(sort_priority: "true") %><br>
<%= link_to "作成日時(降順)でソートする", tasks_path %>
<%= paginate @tasks %>

