<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @task.title %>
</p>

<p>
  <strong>Content:</strong>
  <%= @task.content %>
</p>

<p>
  <strong>Expired_at:</strong>
  <%= @task.expired_at.strftime("%Y-%m-%d %H:%M:%S") %>
</p>

<p>
  <strong>Status:</strong>
  <%= @task.status %>
</p>

<p>
  <strong>Priority:</strong>
  <%= @task.priority %>
</p>

  <strong>Tag</strong><br>
<P class="label label-default">
  <% (@task.tags).each do |tag| %>
    &thinsp; <%= tag.tag_name%> &thinsp; <br>
  <% end %>
</p>
<br>
<%= link_to 'Edit', edit_task_path(@task) %> |
<%= link_to 'Back', tasks_path %>
