<!DOCTYPE html>
<html>
  <head>
    <title>Kadai12</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class = "wrapper">
    <header>
      <img src = '/kuma.jpg', class = "img_hed">
    </header>
    <div class = "main_body">
      <div class = "go_center" >
        <%= yield %>
      </div>
    </div>
  </body>
</html>
